# Virtual environment
backend/venv/

# Python cache
backend/__pycache__/
backend/*.pyc
**/__pycache__/
backend/routers/__pycache__/
# Logs
backend/logs/

# Uploads (optional)
backend/uploads/

# Environment variables
backend/.env
